/* CABECERA */

header {
    background-color: #e4e4e4; /* Color de fondo de la cabecera */
    color: white; /* Color del texto en la cabecera */
    padding: 10px 0;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between; /* Espacio entre logo y navegación */
    align-items: center; /* Centrar verticalmente */
    max-width: 1200px; /* Ancho máximo de la cabecera */
    margin: 0 auto; /* Centrar la cabecera horizontalmente */
    padding: 0 20px; /* Espaciado horizontal interno */
  }
  
  .logo img {
    max-height: 60px; /* Ajustar el tamaño del logo */
    width: auto; /* Mantener proporciones del logo */
  }
  
  nav ul {
    list-style: none; /* Quitar los puntos de la lista */
    display: flex; /* Mostrar los elementos de la lista en línea */
    gap: 20px; /* Espacio entre los elementos del menú */
  }
  
  nav a {
    color: black; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    padding: 10px 15px; /* Espaciado interno de los enlaces */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Efecto de transición */
  }
  
  nav a:hover {
    background-color: #555; /* Color de fondo al pasar el ratón */
  }
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Estilos para pantallas pequeñas */
 @media (max-width: 600px) {
    nav {
      display: none;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    .header-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul {
      flex-direction: column;
      width: 100%;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    nav.active {
      display: block;
    }

    .menu-toggle.active {
        content: "✖";
        font-size: 28px;
  }
  

/* CONTACTOS - PORTADA */
#cover {
    position: relative;
    width: 100%;
    background: url('../images/referenceImages/vino-en-restaurante-puerta-grande.-1920x1920.webp') no-repeat center center;
    background-size: cover; /* Esto hará que la imagen cubra toda la sección */
  }
  
  
  .cover__title {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 7vw; 
    letter-spacing: 0.05em;
    text-shadow: 0.2em 0.2em 12px #fff;
    text-align: center;
    font-family: 'Playfair Display', serif;
  }

/* CONTACTOS - CONTACTO */


/* CONTACTOS - UBICACIÓN */